aiofiles==23.2.1
aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
async-timeout==4.0.2
attrs==22.1.0
autopep8==2.0.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
branca==0.6.0
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.5
contourpy==1.0.6
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
distlib==0.3.6
distro==1.8.0
docker==6.1.2
entrypoints==0.4
exceptiongroup==1.1.3
executing==1.0.0
fake-headers==1.0.2
fastapi==0.94.1
fastjsonschema==2.16.1
filelock==3.8.0
Fiona==1.9.4
Flask==2.1.2
folium==0.14.0
fonttools==4.38.0
frozenlist==1.3.3
future==0.18.3
geojson==3.0.1
geopandas==0.13.0
grpcio==1.54.2
h11==0.14.0
h3==3.7.6
html5lib==1.1
httptools==0.5.0
hurst==0.0.5
idna==3.4
igraph==0.10.4
implicit==0.7.1
iniconfig==2.0.0
invoke==2.0.0
ipykernel==6.15.2
ipython==8.5.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jk-cmdoutputparsinghelper==0.2023.2.9
jk-exceptionhelper==0.2021.12.14.1
jk-logging==0.2022.8.18
jk-prettyprintobj==0.2022.8.15
jk-simpleexec==0.2022.8.7
jk-typing==0.2022.2.27
jk-utils==0.2022.8.8
jk-vcard==0.2020.9.21.1
jk-version==0.2022.8.18
joblib==1.2.0
JsonForm==0.0.2
jsonschema==4.16.0
JsonSir==0.0.2
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
lxml==4.9.1
mapclassify==2.5.0
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mistune==2.0.4
mpmath==1.3.0
multidict==6.0.4
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
netaddr==0.8.0
networkx==3.1
nolds==0.5.2
notebook==6.4.12
numpy==1.23.4
openai==0.27.0
packaging==21.3
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pickleshare==0.7.5
pika==1.3.1
Pillow==9.3.0
platformdirs==2.5.2
pluggy==1.3.0
prometheus-client==0.14.1
prometheus-fastapi-instrumentator==6.0.0
prompt-toolkit==3.0.31
protobuf==4.23.1
psutil==5.9.2
psycopg2==2.9.6
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==13.0.0
pycodestyle==2.9.1
pycparser==2.21
pydantic==1.10.4
Pygments==2.13.0
Pympler==1.0.1
pyogrio==0.6.0
pyparsing==3.0.9
pyproj==3.5.0
pyrsistent==0.18.1
pyspark==3.4.1
pytest==7.4.2
python-dateutil==2.8.2
python-dotenv==0.21.0
Python-EasyConfig==0.1.7
pytz==2022.7.1
pywin32==304
pywinpty==2.0.7
PyYAML==6.0
pyzmq==23.2.1
requests==2.28.1
Resource==0.2.1
scikit-learn==1.2.2
scipy==1.10.1
secure-smtplib==0.1.1
Send2Trash==1.8.0
shapely==2.0.1
simple-ai-server @ git+https://github.com/lhenault/simpleAI@73cfc6efd532c314a05d05216f72af52ad44c258
six==1.16.0
sklearn==0.0.post5
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
stack-data==0.5.0
starlette==0.26.1
statsmodels==0.13.5
sympy==1.12
terminado==0.15.0
texttable==1.6.7
threadpoolctl==3.1.0
tika==1.24
tinycss2==1.1.1
tomli==2.0.1
torch==2.0.1
torch-geometric==2.3.1
tornado==6.2
tqdm==4.65.0
traitlets==5.3.0
typing_extensions==4.4.0
urllib3==1.26.13
uvicorn==0.21.1
virtualenv==20.16.6
vobject==0.9.6.1
watchfiles==0.18.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.5.2
websockets==10.4
Werkzeug==2.1.2
wrapt==1.15.0
yarl==1.8.2
yookassa==2.4.0
