from tortoise import Tortoise

from .controllers import router


def init(app):
    app.include_router(router, prefix='/{{many}}', tags=['{{Many}}'])
    Tortoise.init_models(['app.{{many}}.models'], '{{many}}')
