from tortoise import fields, Model, Tortoise


class {{Single}}Model(Model):
    id = fields.UUIDField(pk=True)
    name = fields.CharField(max_length=128)
    pic = fields.CharField(max_length=1024)
    desc = fields.TextField()

    user = fields.ForeignKeyField('users.User', related_name='{{many}}')

    # id = fields.IntField(pk=True)

    class PydanticMeta:
        exclude = ['user']


Tortoise.init_models(['app.{{many}}.models'], '{{many}}')
